<main>
  <section class="navs">

    <nav class="navBar">
      <section class="logo">
        <img
        src="../assets/icons/mosquito.png"
        alt=""
        />
        <p>Combat Leish</p>
      </section>

      <section class="modoNL">
        <img src="../assets/icons/modo-noturno.png" alt="" *ngIf="modo == true" (click)="modoNoturno(); mudarCor();">
        <img src="../assets/icons/brilho.png" alt="" *ngIf="modo == false" (click)="modoDiurno(); mudarCor();">
      </section>

      <section class="logout">
        <span class="txtLogout">
          <img
          src="../assets/icons/sair.png"
          alt=""
          />
          Sair</span>
      </section>
    </nav>

    <nav class="navLeft">

      <section class="options">
        <ul>
          <li><img src="../assets/icons/dashboard.png" alt="" /> Dashboard</li>
          <li><img src="../assets/icons/user.png" alt="" /> Agente</li>
          <li><img src="../assets/icons/radar.png" alt="" /> Área</li>
          <li><img src="../assets/icons/grafico-de-pizza.png" alt="" /> Setor</li>
          <li><img src="../assets/icons/estrada.png" alt="" /> Quarteirão</li>
          <li (click)="expandir()" *ngIf="ex == false">
            <img src="../assets/icons/analise-de-dados.png" alt="" /> Relatórios
            <div class="expandir">
              <img
              src="../assets/icons/next.png"
              alt=""
              />
            </div>
          </li>
          <li (click)="fechar()" *ngIf="ex == true">
            <img src="../assets/icons/analise-de-dados.png" alt="" /> Relatórios
            <div class="expandir">
              <img
              src="../assets/icons/down-arrow.png"
              alt=""
              />
            </div>
          </li>
          <li *ngIf="ex == true" class="boletim">
            <img src="../assets/icons/boletim-de-noticias.png" alt="" /> Boletim
          </li>
          <li>
            <img src="../assets/icons/feedback-do-cliente.png" alt="" /> Feedback
          </li>
        </ul>
      </section>
    </nav>

  </section>

  <section class="container">

    <section class="center">
      <section class="cards">
        <div class="card-trabalhados">
          <p>Imóveis Trabalhados</p>
          <p>52</p>
        </div>
        <div class="card-fechados">
          <p>Imóveis Fechados</p>
          <p>12</p>
        </div>
        <div class="card-recusados">
          <p>Imóveis Recusados</p>
          <p>32</p>
        </div>
        <div class="card-desabitados">
          <p>Imóveis Desabitados</p>
          <p>21</p>
        </div>
      </section>

      <section class="chart">
        <div id="chart" class="graphic"><div class="ball2"></div></div>
        <div id="chart2" class="graphic"><div class="ball"></div></div>
      </section>

    </section>

  </section>


</main>
