<main>
  <section>

    <nav class="navBar">
      <section class="logo">
        <img
        src="../assets/icons/mosquito.png"
        alt=""
        />
        <p>Combat Leish</p>
      </section>

      <section class="modoNL">
        <img src="../assets/icons/modo-noturno.png" alt="" *ngIf="modo == true" (click)="modoNoturno(); mudarCor();">
        <img src="../assets/icons/brilho.png" alt="" *ngIf="modo == false" (click)="modoDiurno(); mudarCor();">
      </section>

      <section class="logout">
        <span class="txtLogout">
          <img
          src="../assets/icons/sair.png"
          alt=""
          />
          Sair</span>
      </section>
    </nav>

    <nav class="navLeft">

      <section class="options">
        <ul>
          <li><img src="../assets/icons/dashboard.png" alt="" /> Dashboard</li>
          <li><img src="../assets/icons/user.png" alt="" /> Agente</li>
          <li><img src="../assets/icons/radar.png" alt="" /> Área</li>
          <li><img src="../assets/icons/grafico-de-pizza.png" alt="" /> Setor</li>
          <li><img src="../assets/icons/estrada.png" alt="" /> Quarteirão</li>
          <li (click)="expandir()" *ngIf="ex == false">
            <img src="../assets/icons/analise-de-dados.png" alt="" /> Relatórios
            <div class="expandir">
              <img
              src="../assets/icons/next.png"
              alt=""
              />
            </div>
          </li>
          <li (click)="fechar()" *ngIf="ex == true">
            <img src="../assets/icons/analise-de-dados.png" alt="" /> Relatórios
            <div class="expandir">
              <img
              src="../assets/icons/down-arrow.png"
              alt=""
              />
            </div>
          </li>
          <li *ngIf="ex == true" class="boletim">
            <img src="../assets/icons/boletim-de-noticias.png" alt="" /> Boletim
          </li>
          <li>
            <img src="../assets/icons/feedback-do-cliente.png" alt="" /> Feedback
          </li>
        </ul>
      </section>
    </nav>

  </section>

  <!-- <div id="chart"></div> -->

</main>
